.scroll-top {
  background-color: #3498db;
  color: white;
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  opacity: 0.5;
  position: fixed;
  z-index: 5;
  bottom: 50px;
  right: 20px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}